body {
    background: url(./images_html/background.jpg);
    background-repeat: no-repeat;

}
.fire img{
    width: 100px;
    height: 100px;
    margin: 5px;
    background-image: url(./background_type/fire.gif);
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid rgba(177, 177, 177, 0.89);
    position: relative;
}
.water img{
    width: 100px;
    height: 100px;
    margin: 5px;
    background-image: url(./background_type/water.gif);
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid rgba(177, 177, 177, 0.89);
    position: relative;
}
.rock img{
    width: 100px;
    height: 100px;
    margin: 5px;
    background-image: url(./background_type/rock.jpg);
    background-repeat: no-repeat;
    border: 2px solid rgba(177, 177, 177, 0.89);
    position: relative;
}
.plant img{
    width: 100px;
    height: 100px;
    margin: 5px;
    background-image: url(./background_type/plant.png);
    background-repeat: no-repeat;
    border: 2px solid rgba(177, 177, 177, 0.89);
    position: relative;
}
#pickACard {
    width: 120px;
    height: 170px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 5px;
}
.deckNShuffle {
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.attackTool {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.attackTool img {
    width: 70px;
}
#fiveNewCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:  center;
    flex-wrap: wrap;
    margin: 0px 20px;
    padding: 30px;
}
@keyframes flip-horizontal-bottom {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    50% {
        -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg);

    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
}
#fire {
    width: 120px;
    height: 200px;
    background: rgb(255, 118, 118);
    border: 3px solid rgba(255, 230, 0, 0.89);
    border-radius: 5px;
    margin: 0px 20px;
    justify-content: center;
    box-sizing: border-box;
    color: rgba(95, 95, 95, 0.89);
    animation: flip-horizontal-bottom 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
#water {
    width: 120px;
    height: 200px;
    background: rgb(118, 193, 255);
    border: 3px solid rgba(255, 230, 0, 0.89);
    border-radius: 5px;
    margin: 20px;
    justify-content: center;
    box-sizing: border-box;
    color: rgba(95, 95, 95, 0.89);
    animation: flip-horizontal-bottom 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
#plant {
    width: 120px;
    height: 200px;
    background: rgb(111, 204, 116);
    border: 3px solid rgba(255, 230, 0, 0.89);
    border-radius: 5px;
    margin: 20px;
    justify-content: center;
    box-sizing: border-box;
    color: rgba(95, 95, 95, 0.89);
    animation: flip-horizontal-bottom 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
#rock {
    width: 120px;
    height: 200px;
    background: rgba(209, 158, 91, 0.945);
    border: 3px solid rgba(255, 230, 0, 0.89);
    border-radius: 5px;
    margin: 20px;
    justify-content: center;
    box-sizing: border-box;
    color: rgba(95, 95, 95, 0.89);
    animation: flip-horizontal-bottom 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
#ennemyBot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:  center;
    flex-wrap: wrap;
    margin: 20px;
    padding: 30px;
}
.teamRocket {
    width: 100px;  
    height: 100px;
    margin: 10px 80px 30px 40px;
}
#ennemyBot img {
    width: 120px;
    margin: 20px;
}
.name {
    display: flex;
    margin: 0px 5px -15px 5px;
    justify-content: space-between;
}
h1 {
    font-size: 12px;
    margin: 5px 3px 8px 3px;
}
h2 {
    font-size: 10px;
    margin: 100px 10px 15px 10px;
}
.cardDescription {
    display: flex;
    flex-direction: column;
    margin: -90px 0px;
}
.description {
    display: flex;
    justify-content: space-between;
    margin: -10px 10px -100px 10px;
    
}
#battleField {
    background-image:url(./background_type/arena_2000w.jpg);
    background-position: center ;
    background-size: 800px;
    width: 800px;
    height: 500px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    margin: 0px 0px 0px 100px;
}
.battleSpot {
    border: 2px dashed black;
    background-color: rgba(204, 204, 204, 0.5);
    display: flex;
    align-items: center;
    width: 120px;
    height: 200px;
}
.center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
h3 {
    color:black;
    background: rgba(255, 255, 255, 0.644);
    margin: 5px 10px;
    padding: 3px;
    font-size: 15px;
}
.sacha {
    width: 130px;
    margin: 10px 80px 30px 40px;
}
