* {
    box-sizing: border-box;
}
body {
    background: url(./images_html/background2.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    display: flex;

}
.storytime {
    background: rgba(255, 212, 169, 0.7);
    border: 2px solid rgb(105, 54, 2);
    margin: 1vw;
    padding: 2px;
}
.storytime p {
    font-size: 1vw;
}
h4 {
    font-size: 1vw;
}
#rules {
    background: rgba(240, 240, 240, 0.938);
    border: 2px solid black;
    margin: 1vw;
    padding: 2px;
}
.fireColor {
    color: rgb(255, 118, 118);
    font-weight: bold;
}
.rockColor {
    font-weight: bold;
    color: rgba(209, 158, 91);
}
.waterColor {
    font-weight: bold;
    color: rgb(118, 193, 255);
}
.plantColor {
    font-weight: bold;
    color: rgb(111, 204, 116);
}
li {
    text-align: left;
}
.fire img{
    width: 5.7vw;
    height: 5.7vw;
    margin: 0.35vw;
    background-image: url(./background_type/fire.gif);
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid rgba(177, 177, 177, 0.89);
    position: relative;
}
.water img{
    width: 5.7vw;
    height: 5.7vw;
    margin: 0.35vw;
    background-image: url(./background_type/water.gif);
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid rgba(177, 177, 177, 0.89);
    position: relative;
}
.rock img{
    width: 5.7vw;
    height: 5.7vw;
    margin: 0.35vw;
    background-image: url(./background_type/rock.jpg);
    background-repeat: no-repeat;
    border: 2px solid rgba(177, 177, 177, 0.89);
    position: relative;
}
.plant img{
    width: 5.7vw;
    height: 5.7vw;
    margin: 0.35vw;
    background-image: url(./background_type/plant.png);
    background-repeat: no-repeat;
    border: 2px solid rgba(177, 177, 177, 0.89);
    position: relative;
}
#pickACard {
    width: 120px;
    height: 170px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 5px;
}
.deckNShuffle {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: -1vw;
}
.deckNShuffle img {
    height: 1vw;
}
.attackTool {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.attackTool li {
    text-align: left;
}
.attackTool img {
    width: 4vw;
}
.attackTool p {
    font-size: 0.8vw;
}
.attackTool li {
    font-size: 0.7vw;
}
#fiveNewCardsAlly {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:  center;
    margin: -70px 20px;
    padding: 30px;
}
#fiveNewCardsEnnemy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:  center;
    margin: 0px 20px;
    padding: 30px;
}
@keyframes flip-horizontal-bottom {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    50% {
        -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg);

    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
}
#fire {
    width: 7vw;
    height: 11vw;
    background: rgb(255, 118, 118);
    border: 3px solid rgba(255, 230, 0, 0.89);
    border-radius: 5px;
    margin: 0px 20px;
    justify-content: center;
    box-sizing: border-box;
    color: rgba(95, 95, 95, 0.89);
    animation: flip-horizontal-bottom 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
#water {
    width: 7vw;
    height: 11vw;
    background: rgb(118, 193, 255);
    border: 3px solid rgba(255, 230, 0, 0.89);
    border-radius: 5px;
    margin: 20px;
    justify-content: center;
    box-sizing: border-box;
    color: rgba(95, 95, 95, 0.89);
    animation: flip-horizontal-bottom 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
#plant {
    width: 7vw;
    height: 11vw;
    background: rgb(111, 204, 116);
    border: 3px solid rgba(255, 230, 0, 0.89);
    border-radius: 5px;
    margin: 20px;
    justify-content: center;
    box-sizing: border-box;
    color: rgba(95, 95, 95, 0.89);
    animation: flip-horizontal-bottom 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
#rock {
    width: 7vw;
    height: 11vw;
    background: rgba(209, 158, 91, 0.945);
    border: 3px solid rgba(255, 230, 0, 0.89);
    border-radius: 5px;
    margin: 20px;
    justify-content: center;
    box-sizing: border-box;
    color: rgba(95, 95, 95, 0.89);
    animation: flip-horizontal-bottom 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
.teamRocket {
    width: 100px;  
    height: 100px;
    margin: 10px 80px 30px 40px;
}
.name {
    display: flex;
    margin: 0px 5px -15px 5px;
    justify-content: space-between;
}
h1 {
    font-size: 0.7vw;
    margin: 5px 3px 11px 3px;
}
h2 {
    font-size: 0.65vw;
    margin: 100px 5px 12px 0px;
}
.cardDescription {
    display: flex;
    flex-direction: column;
    margin: -90px 0px;
}
.description {
    display: flex;
    justify-content: space-between;
    width: 5.9vw;
    margin: -11px 10px -102px 10px;
    
}
.battleField {
    width: 60vw;
    height: 52vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}
.battleSpot {
    border: 2px dashed black;
    background-color: rgba(204, 204, 204, 0.5);
    display: flex;
    align-items: center;
    width: 120px;
    height: 200px;
}
.battleField {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
h3 {
    color:black;
    background: rgba(255, 255, 255, 0.644);
    margin: 5px 10px;
    padding: 3px;
    font-size: 15px;
}
.sacha {
    width: 130px;
    margin: 10px 0px 30px 40px;
}
.textInput {
    background-color: rgb(255, 246, 198);
    width: 16vw;
    border: 3px solid grey
}
