/* Import Font Style*/
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

/* CSS Styling*/
* {
    box-sizing: border-box;
}
body {
    background: url(./images_html/background2.jpg);
    background-color: rgb(38,116,178);
    background-size:100% auto;
    background-position: center ;
    height: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    margin: 0;
}
.storytime {
    background: rgba(255, 212, 169, 0.7);
    border: 2px solid rgb(105, 54, 2);
    margin: 1vw;
    padding: 0.1vw;
}
.storytime img {
    width: 17vw;
    height: 4vw;
    padding: 0;
}
.storytime p {
    font-size: 0.6vw;
    padding: 0;
    font-family: 'Space Mono', monospace;

}
button {
    color: rgb(255, 203, 5);
    font-family: 'Space Mono', monospace;
    background-color: rgb(38,116,178);
    border: 1px solid rgb(255, 203, 5);
    border-radius: 5px;
    padding: 5px 20px;
}
#rules {
    background: rgba(240, 240, 240, 0.938);
    border: 0.1vw solid black;
    margin: 0.2vw 1vw;
    padding: 0.1vw;
}
.fireColor {
    color: rgb(255, 118, 118);
    font-weight: bold;
}
.rockColor {
    font-weight: bold;
    color: rgba(209, 158, 91);
}
.waterColor {
    font-weight: bold;
    color: rgb(118, 193, 255);
}
.plantColor {
    font-weight: bold;
    color: rgb(111, 204, 116);
}
ol, ul {
    padding-left: 20px;
}
li {
    text-align: left;
    font-family: 'Space Mono', monospace;
}
.fire img{
    width: 5.7vw;
    height: 5.7vw;
    margin: 0.35vw;
    background-image: url(./background_type/fire.gif);
    background-size: contain;
    background-repeat: no-repeat;
    border: 0.1vw solid rgba(177, 177, 177, 0.89);
    position: relative;
}
.water img{
    width: 5.7vw;
    height: 5.7vw;
    margin: 0.35vw;
    background-image: url(./background_type/water.gif);
    background-size: contain;
    background-repeat: no-repeat;
    border: 0.1vw solid rgba(177, 177, 177, 0.89);
    position: relative;
}
.rock img{
    width: 5.7vw;
    height: 5.7vw;
    margin: 0.35vw;
    background-image: url(./background_type/rock.jpg);
    background-repeat: no-repeat;
    border: 0.1vw solid rgba(177, 177, 177, 0.89);
    position: relative;
}
.plant img{
    width: 5.7vw;
    height: 5.7vw;
    margin: 0.35vw;
    background-image: url(./background_type/plant.png);
    background-repeat: no-repeat;
    border: 0.1vw solid rgba(177, 177, 177, 0.89);
    position: relative;
}
#pickACard {
    width: 7vw;
    height: 10vw;
    border-radius: 0.3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0.3vw 0.2vw;
}
.deckNShuffle {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0.2vw -1vw ;
}
.attackTool {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
}
.attackTool img {
    width: 4vw;
}
#rules p {
    font-size: 0.6vw;
    font-family: 'Space Mono', monospace;

}
#rules li {
    font-size: 0.6vw;
}
#fiveNewCardsAlly {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:  center;
    margin: -4vw 2vw;
    padding: 30px;
}
#fiveNewCardsEnnemy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:  center;
    margin: 0 2vw;
    padding: 30px;
}
@keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
#fire {
    width: 7vw;
    height: 11vw;
    background: rgb(255, 118, 118);
    border: 0.2vw solid rgba(255, 230, 0, 0.89);
    border-radius: 5px;
    margin: 0px 0.5vw;
    justify-content: center;
    box-sizing: border-box;
    color: rgba(95, 95, 95, 0.89);
    animation: rotate-scale-up 0.65s linear both;
}
#water {
    width: 7vw;
    height: 11vw;
    background: rgb(118, 193, 255);
    border: 0.2vw solid rgba(255, 230, 0, 0.89);
    border-radius: 5px;
    margin: 0px 0.5vw;
    justify-content: center;
    box-sizing: border-box;
    color: rgba(95, 95, 95, 0.89);
    animation: rotate-scale-up 0.65s linear both;
}
#plant {
    width: 7vw;
    height: 11vw;
    background: rgb(111, 204, 116);
    border: 0.2vw solid rgba(255, 230, 0, 0.89);
    border-radius: 5px;
    margin: 0px 0.5vw;
    justify-content: center;
    box-sizing: border-box;
    color: rgba(95, 95, 95, 0.89);
    animation: rotate-scale-up 0.65s linear both;
}
#rock {
    width: 7vw;
    height: 11vw;
    background: rgba(209, 158, 91, 0.945);
    border: 0.2vw solid rgba(255, 230, 0, 0.89);
    border-radius: 5px;
    margin: 0px 0.5vw;
    justify-content: center;
    box-sizing: border-box;
    color: rgba(95, 95, 95, 0.89);
    animation: rotate-scale-up 0.65s linear both;
}
.teamRocket {
    width: 100px;  
    height: 100px;
    margin: 0.2vw 0.8vw 0.2vw 0.4vw;
}
.name {
    display: flex;
    margin: -0.3vw 0.3vw -1.1vw 0.3vw;
    justify-content: space-between;
}
h1 {
    font-size: 0.7vw;
    margin: 0.4vw 0.3vw 0.8vw 0.3vw;
}
h2 {
    font-size: 0.65vw;
    margin: 100px 0.55vw 17px 0;
}
.cardDescription {
    display: flex;
    flex-direction: column;
    margin: -90px 0px;
}
.description {
    display: flex;
    justify-content: space-between;
    width: 5.9vw;
    margin: -11px 10px -102px 10px;
    
}
.battleField {
    width: 60vw;
    height: 52vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
h3 {
    color:black;
    background: rgba(255, 255, 255, 0.644);
    margin: 1vw 1vw;
    padding: 0.2vw;
    font-size: 15px;
    
}
.sacha {
    margin: 5vw 0px 5vw 1vw;
}

.textInput {
    background-color: rgb(0, 0, 0);
    width: 18vw;
    font-size: 1vw;
    color: whitesmoke;
    font-family:'Space Mono', monospace;
    border: 3px solid grey;
    text-align: left;
}
a {
    color: whitesmoke;
}
/*Start game Button*/
