
.fire img{
    width: 100px;
    height: 100px;
    margin: 5px;
    background-image: url(./background_type/fire.gif);
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid rgba(177, 177, 177, 0.89);
    position: relative;
}
.water img{
    width: 100px;
    height: 100px;
    margin: 5px;
    background-image: url(./background_type/water.gif);
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid rgba(177, 177, 177, 0.89);
    position: relative;
}
.rock img{
    width: 100px;
    height: 100px;
    margin: 5px;
    background-image: url(./background_type/rock.jpg);
    background-repeat: no-repeat;
    border: 2px solid rgba(177, 177, 177, 0.89);
    position: relative;
}
.plant img{
    width: 100px;
    height: 100px;
    margin: 5px;
    background-image: url(./background_type/plant.png);
    background-repeat: no-repeat;
    border: 2px solid rgba(177, 177, 177, 0.89);
    position: relative;
}
#pickACard {
    width: 100px;
    height: 140px;
    border-radius: 8px;
    display: flex;
    margin: 60px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#fiveNewCards {
    display: flex;
    float: center;
    justify-content: space-evenly;
    align-items: right;
    flex-wrap: wrap;
    margin: 20px 10px;
}

@keyframes flip-horizontal-bottom {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    50% {
        -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg);

    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
}
#fire {
    width: 120px;
    height: 200px;
    background: rgb(255, 118, 118);
    border: 3px solid rgba(255, 230, 0, 0.89);
    border-radius: 5px;
    margin: 10px;
    justify-content: center;
    box-sizing: border-box;
    color: rgba(95, 95, 95, 0.89);
    animation: flip-horizontal-bottom 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
#water {
    width: 120px;
    height: 200px;
    background: rgb(118, 193, 255);
    border: 3px solid rgba(255, 230, 0, 0.89);
    border-radius: 5px;
    margin: 10px;
    justify-content: center;
    box-sizing: border-box;
    color: rgba(95, 95, 95, 0.89);
    animation: flip-horizontal-bottom 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
#plant {
    width: 120px;
    height: 200px;
    background: rgb(111, 204, 116);
    border: 3px solid rgba(255, 230, 0, 0.89);
    border-radius: 5px;
    margin: 10px;
    justify-content: center;
    box-sizing: border-box;
    color: rgba(95, 95, 95, 0.89);
    animation: flip-horizontal-bottom 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
#rock {
    width: 120px;
    height: 200px;
    background: rgba(209, 158, 91, 0.945);
    border: 3px solid rgba(255, 230, 0, 0.89);
    border-radius: 5px;
    margin: 10px;
    justify-content: center;
    box-sizing: border-box;
    color: rgba(95, 95, 95, 0.89);
    animation: flip-horizontal-bottom 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

img {
    width: 100px;
}
#ennemyBot {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 10px;
}

#ennemyBot div {
    width: 120px;
    height: 180px;
    margin: 10px;
}
.name {
    display: flex;
    margin: 0px 5px -15px 5px;
    justify-content: space-between;
}
h1 {
    font-size: 12px;
    margin: 5px 3px 8px 3px;
}
h2 {
    font-size: 10px;
    margin: 100px 10px 15px 10px;
}
.cardDescription {
    display: flex;
    flex-direction: column;
    margin: -90px 0px;
}
.description {
    display: flex;
    justify-content: space-between;
    margin: -10px 10px -100px 10px;
    
}
